mixin title-1(title, accent)
  h1.title= title
    span.accent= accent

mixin title-2(title)
  h2.title-2= title

mixin title-3(title)
  h3.title-3= title

mixin title-4(title)
  h4.title-4= title

mixin title-5(title)
  h5.title-5= title

mixin undersub
  div.undersub
    p 
      block

mixin body
  div.body
    p 
      block

mixin navLink(url, title)
  a.nav-link(href="url")=title

mixin link(url, title)
  a.link(href=url)= title

mixin accentLink(title, url)
  a.accent-link(href=url)= title

mixin button(tag, text, url, size='large',)
  #{tag}.btn(class=`btn--${size}` href=url)= text

mixin input(type, name, placeholder, required)
  .input-wrap
    input.form-control(type=type, name=name, placeholder=placeholder, required=required)

mixin cookieBtn(title, state)
  button.cookie-btn(class=`cookie-btn--${state}` type=button)= title

mixin logo(url)
  a.logo(href=url)
    svg(viewBox="0 0 147 32" fill="none")
      path(d="M14.6661 19.7155C14.6003 19.7155 14.5344 19.7016 14.4731 19.6714L0.258934 12.811C0.0999396 12.7343 0 12.5716 0 12.3927C0 12.2137 0.102211 12.0511 0.258934 11.9744L14.4708 5.11865C14.5935 5.06055 14.7343 5.06055 14.8569 5.11865L29.0688 11.9744C29.2278 12.0511 29.3277 12.2137 29.3277 12.3927C29.3277 12.5716 29.2278 12.7343 29.0688 12.811L14.8547 19.6714C14.7933 19.7016 14.7275 19.7155 14.6616 19.7155H14.6661ZM1.51499 12.3927L14.6661 18.7418L27.8173 12.3927L14.6661 6.04824L1.51499 12.3927Z" fill="black")
      path(d="M14.6661 25.8578C14.6003 25.8578 14.5344 25.8438 14.4731 25.8136L0.258934 18.9532C0.0999396 18.8765 0 18.7139 0 18.5349C0 18.356 0.102211 18.1933 0.258934 18.1166L6.621 15.0489C6.74365 14.9908 6.88447 14.9908 7.00713 15.0489L14.6661 18.7441L22.3251 15.0489C22.4478 14.9908 22.5886 14.9908 22.7113 15.0489L29.0711 18.1166C29.2301 18.1933 29.33 18.356 29.33 18.5349C29.33 18.7139 29.2278 18.8765 29.0711 18.9532L14.8592 25.8136C14.7979 25.8438 14.732 25.8578 14.6661 25.8578ZM1.51499 18.5326L14.6661 24.8817L27.8173 18.5326L22.5182 15.9762L14.8592 19.6713C14.7365 19.7294 14.5957 19.7294 14.4731 19.6713L6.81406 15.9762L1.51499 18.5326Z" fill="black")
      path(d="M14.6661 32C14.6003 32 14.5344 31.986 14.4731 31.9558L0.258934 25.1001C0.0999396 25.0234 0 24.8607 0 24.6818C0 24.5028 0.102211 24.3402 0.258934 24.2635L6.62554 21.1888C6.74819 21.1307 6.88902 21.1307 7.01167 21.1888L14.6639 24.884L22.3161 21.1888C22.4387 21.1307 22.5795 21.1307 22.7022 21.1888L29.0688 24.2635C29.2278 24.3402 29.3277 24.5028 29.3277 24.6818C29.3277 24.8607 29.2255 25.0234 29.0688 25.1001L14.8569 31.9558C14.7956 31.986 14.7297 32 14.6639 32H14.6661ZM1.51499 24.6795L14.6661 31.0239L27.8173 24.6795L22.5114 22.1184L14.8592 25.8136C14.7365 25.8717 14.5957 25.8717 14.4731 25.8136L6.82088 22.1184L1.51499 24.6795Z" fill="black")
      path(d="M11.727 13.3476C11.4772 13.3476 11.275 13.1408 11.275 12.8852V0.612252C11.275 0.356614 11.4772 0.14978 11.727 0.14978C11.9769 0.14978 12.179 0.356614 12.179 0.612252V12.8852C12.179 13.1408 11.9769 13.3476 11.727 13.3476Z" fill="#003CC9")
      path(d="M11.727 13.3478C11.6112 13.3478 11.4953 13.3037 11.4067 13.2131C11.2296 13.0318 11.2296 12.739 11.4067 12.5577L13.5532 10.3615C13.7303 10.1803 14.0165 10.1803 14.1937 10.3615C14.3709 10.5428 14.3709 10.8356 14.1937 11.0169L12.0473 13.2131C11.9587 13.3037 11.8428 13.3478 11.727 13.3478Z" fill="#003CC9")
      path(d="M11.727 13.3478C11.6112 13.3478 11.4953 13.3037 11.4067 13.2131L9.26032 11.0169C9.08315 10.8356 9.08315 10.5428 9.26032 10.3615C9.43748 10.1803 9.72367 10.1803 9.90084 10.3615L12.0473 12.5577C12.2244 12.739 12.2244 13.0318 12.0473 13.2131C11.9587 13.3037 11.8428 13.3478 11.727 13.3478Z" fill="#003CC9")
      path(d="M17.4145 13.2013C17.1646 13.2013 16.9625 12.9945 16.9625 12.7388V0.46357C16.9625 0.207933 17.1646 0.00109863 17.4145 0.00109863C17.6643 0.00109863 17.8665 0.207933 17.8665 0.46357V12.7365C17.8665 12.9921 17.6643 13.199 17.4145 13.199V13.2013Z" fill="#003CC9")
      path(d="M15.268 3.12459C15.1522 3.12459 15.0364 3.08043 14.9478 2.9898C14.7706 2.80853 14.7706 2.51571 14.9478 2.33443L17.0942 0.135953C17.2714 -0.0453175 17.5576 -0.0453175 17.7347 0.135953C17.9119 0.317223 17.9119 0.610044 17.7347 0.791314L15.5883 2.98747C15.4997 3.07811 15.3839 3.12226 15.268 3.12226V3.12459Z" fill="#003CC9")
      path(d="M19.5609 3.12458C19.4451 3.12458 19.3292 3.08043 19.2407 2.98979L17.0942 0.793634C16.9171 0.612363 16.9171 0.319542 17.0942 0.138272C17.2714 -0.0429982 17.5576 -0.0429982 17.7347 0.138272L19.8812 2.33443C20.0583 2.5157 20.0583 2.80852 19.8812 2.98979C19.7926 3.08043 19.6768 3.12458 19.5609 3.12458Z" fill="#003CC9")
      path(d="M146.035 18.8564C146.035 19.2269 146.01 19.2269 145.985 19.548H134.623C134.796 20.5113 135.265 21.2524 135.982 21.7464C136.673 22.2651 137.76 22.5121 138.748 22.5121H138.946C139.909 22.5121 140.7 22.4133 141.317 22.1169C141.91 21.8205 142.503 21.3265 142.799 20.5113L146.035 20.6842C145.714 22.4874 144.652 23.599 143.367 24.2659C142.083 24.9575 140.551 25.1798 138.847 25.1798C134.796 25.1798 131.338 23.1296 131.338 18.8564C131.338 14.5831 134.796 12.533 138.847 12.533C142.898 12.533 146.035 14.6078 146.035 18.8564ZM138.946 15.0524H138.798C137.884 15.0524 136.649 15.3489 135.858 16.0405C135.068 16.7568 134.623 17.8683 134.623 19.2516V19.548C134.648 18.6588 134.895 18.3377 135.265 18.0166C135.636 17.6954 136.253 17.5719 136.772 17.5719H142.774C142.503 16.6827 142.132 16.1146 141.515 15.6947C140.897 15.2748 139.934 15.0524 138.946 15.0524Z" fill="black")
      path(d="M120.084 15.6946C121.073 13.4469 123.098 12.4835 124.778 12.4835C128.186 12.4835 129.619 15.2006 129.619 19.3998V25.0316H126.112V19.3751C126.112 17.2014 125 16.0157 123.469 16.0157C122.011 16.0157 119.788 16.8556 119.788 20.4125V25.0316H116.256V12.6811H119.788V15.6205C119.788 16.1392 119.689 16.8062 119.59 17.3002H119.64C119.739 16.8062 119.862 16.1145 120.084 15.6946Z" fill="black")
      path(d="M114.524 10.6063H110.967V7.74097H114.524V10.6063ZM111.017 12.6811H114.475V25.0316H111.017V12.6811Z" fill="black")
      path(d="M105.703 25.0316V7H109.235V25.0316H105.703Z" fill="black")
      path(d="M90.2591 21.2524L93.7173 20.8325C93.8902 22.191 95.1252 22.7098 97.1754 22.7098C99.275 22.7098 100.436 22.1169 100.436 21.0054C100.436 19.1281 90.4814 21.1783 90.4814 16.411C90.4814 12.8788 95.471 12.5083 97.2001 12.5083C99.7937 12.5083 103.499 13.521 103.622 16.2381L100.51 16.5839C100.337 15.423 99.2256 15.0031 97.126 15.0031C95.1252 15.0031 94.0137 15.3489 94.0137 16.5592C94.0137 18.4118 103.968 16.3616 103.968 21.0795C103.968 24.8587 98.855 25.1799 97.0519 25.1799C95.3969 25.1799 90.4567 24.6364 90.2591 21.2524Z" fill="black")
      path(d="M82.785 19.8197L85.7738 12.6812H89.6272L83.6001 26.7854C82.538 29.5519 80.389 30.12 78.9564 30.12H75.2265V27.5264H77.0791C77.7213 27.5264 79.5986 27.3288 79.9938 26.2913L80.4631 24.8587L75.2018 12.6812H79.0552L82.044 19.8197C82.3157 20.3384 82.4145 21.0548 82.4145 21.6229H82.4639C82.4639 21.0548 82.5627 20.3384 82.785 19.8197Z" fill="black")
      path(d="M66.7655 12.6072C70.1495 12.6072 73.4842 13.7928 73.4842 17.4486V21.5736C73.4842 22.1911 73.7312 22.364 74.3487 22.364H74.6945V25.0317H72.422C71.0882 25.0317 69.9519 23.9943 69.9519 22.858V21.87C69.6802 23.6485 68.3958 24.4883 67.1854 24.8588C66.5679 25.0564 65.901 25.1552 65.16 25.1552C64.8636 25.1552 63.6779 25.2293 62.3441 24.6118C61.0102 24.019 60.0469 22.9321 60.0469 21.5242C60.0469 18.8565 62.5417 18.0908 65.0365 17.9673C67.5312 17.8685 69.9519 18.0167 69.9519 17.1768V17.1521C69.9272 15.7689 68.8157 15.2255 66.7655 15.2255C65.0612 15.2255 63.5791 15.5219 63.4309 17.1027L60.2692 16.9298C60.3927 13.8669 63.8014 12.6072 66.7655 12.6072ZM63.7026 21.4254C63.7026 22.7345 65.407 22.9074 66.0986 22.9074C66.5679 22.9074 67.4077 22.858 68.3464 22.4628C69.285 22.0923 69.9519 21.4501 69.9519 20.6597V19.3011C68.4699 20.388 63.7026 18.98 63.7026 21.4254Z" fill="black")
      path(d="M52.8676 7.74097C56.8198 7.74097 59.191 9.74174 59.191 13.4469C59.191 16.2134 56.8198 19.1775 52.8676 19.1775H47.5322V25.0316H44V7.74097H52.8676ZM47.5322 16.411H52.3736C54.078 16.411 55.6588 15.1018 55.6588 13.521C55.6588 11.5943 54.1274 10.6557 52.3736 10.6557H47.5322V16.411Z" fill="black")

mixin tabBtn(text, id, active=false)
  button.nav-link(class=active ? 'active' : '' id=`nav-${id}-tab` data-bs-toggle="tab" data-bs-target=`#nav-${id}` type="button" role="tab" aria-controls=`nav-${id}` aria-selected=active)= text

mixin tabContent(id, active=false)
  .tab-pane.fade(class=active ? 'show active' : '' id=`nav-${id}` role="tabpanel" aria-labelledby=`nav-${id}-tab` tabindex="0")
    block

mixin checkbox
  div.form-check
    input.form-check-input(type="checkbox"  id="flexCheckDefault" name="checkbox")
    label.form-check-label(for="flexCheckDefault")
      | Remember me